*
!.npmrc
!.prettierignore
!docker/
!e2e/
!public/
!src/
!.env
!.env.dev
!.env.test
!.gitattributes
!.gitignore
!.npmrc
!.prettierrc.json
!.trivyignore
!env.d.ts
!eslint.config.ts
!index.html
!Makefile
!package-lock.json
!package.json
!playwright.config.ts
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!tsconfig.vitest.json
!vite.config.ts
!vitest.config.ts
!vitest.setup.ts
