# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
*junit-report.xml
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.report/
# Translations
*.mo
*.pot
# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
# Jupyter Notebook
.ipynb_checkpoints
# jetbrains
.idea
# Environments
.env
.env.prod
.venv/
venv/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
# pytype static type analyzer
.pytype/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# Runtime data
pids
*.pid
*.seed
*.pid.lock
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
# Dependency directories
node_modules/
jspm_packages/
# TypeScript cache
*.tsbuildinfo
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# Optional REPL history
.node_repl_history
# Output of 'npm pack'
*.tgz
# local volumes
data/
# sysctl backup file
sysctl_backup.conf
# frontend .env files are shared
!frontend/.env
!frontend/.env.*
# devcontainer
.devcontainer/customize.sh
dump*.sql
# encryption keypair
eurydice
!eurydice/
eurydice.pub
# dev deployment
apache2/configs/dev-local-origin.conf
apache2/configs/dev-local-destination.conf
# prod deployment
deployment/prod/config-ssl.conf
