*
# ignore static files
**/staticfiles/
# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class
# Allow-list
!docker/entrypoint.sh
!docker/healthcheck.py
!eurydice
!tests
!Makefile
!manage.py
!uv.lock
!pyproject.toml
!setup.cfg
!settings.py
