[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "mirror"

[packages]
gunicorn = "==23.*"
djangorestframework = ">=3.15.2"
django-environ = ">=0.11.2"
drf-spectacular = ">=0.27.1"
psycopg2-binary = "==2.9.9"
django = "==4.2.18"
python-dateutil = "==2.9.0.post0"
humanfriendly = "==10.0"
whitenoise = "==6.7.0"
msgpack = "==1.1.0"
pydantic = "==1.*"
minio = "*"
django-filter = ">=24.*"
setuptools = ">=70.*"
jinja2 = "==3.1.5"

[dev-packages]
pytest = ">=8.*"
pytest-django = ">=4.*"  # useful to configure settings in tests even if not explicitly called
factory-boy = "==3.2.1"
hypothesis = "==6.39.4"
coverage = "==6.*"
pytest-cov = ">=4.*"
pytype = "==2024.01.05"
ipython = "==8.10.0"
ipdb = "==0.13.9"
isort = "==5.10.1"
black = "==24.3.0"
flake8 = "==4.0.1"
flake8-bugbear = "==22.3.20"
flake8-comprehensions = "==3.8.0"
flake8-eradicate = "==1.2.0"
flake8-simplify = "==0.18.1"
flake8-variables-names = "==0.0.5"
pep8-naming = "==0.12.1"
flake8-use-fstring = "==1.3"
flake8-annotations = "==2.7.0"
flake8-pytest = "==1.3"
flake8-pytest-style = "==1.6.0"
dlint = "==0.12.0"
flake8-docstrings = "==1.6.0"
flakeheaven = "==0.11.1"
mypy = "==1.11.2"
mypy-extensions = ">=0.4.4"
bandit = "==1.7.7"
Faker = "==13.3.2"
django-stubs = "==1.9.0"
djangorestframework-stubs = "==1.4.0"
radon = "==5.1.0"
freezegun = "==1.2.1"
safety = "==2.*"

[requires]
python_version = "3.10"
